<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.tianxia.api.domain.txdata.v2.ActivityDao" >
  <resultMap id="BaseResultMap" type="com.cn.tianxia.api.project.v2.ActivityEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cagent" property="cagent" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="ruid" property="ruid" jdbcType="VARCHAR" />
    <result column="cuid" property="cuid" jdbcType="VARCHAR" />
    <result column="stime" property="stime" jdbcType="BIGINT" />
    <result column="etime" property="etime" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cagent, cid, type_id, name, type, status, ruid,cuid, stime, etime, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cn.tianxia.api.project.v2.ActivityEntity" >
    insert into t_activity (id, cagent, cid, 
      type_id, name, type, 
      status, ruid,cuid, stime, etime, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{cagent,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{typeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{ruid,jdbcType=VARCHAR},#{cuid,jdbcType=VARCHAR}, #{stime,jdbcType=BIGINT}, 
      #{etime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.tianxia.api.project.v2.ActivityEntity" >
    insert into t_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cagent != null" >
        cagent,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ruid != null" >
        ruid,
      </if>
      <if test="cuid != null" >
        cuid,
      </if>
      <if test="stime != null" >
        stime,
      </if>
      <if test="etime != null" >
        etime,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cagent != null" >
        #{cagent,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="ruid != null" >
        #{ruid,jdbcType=VARCHAR},
      </if>
      <if test="cuid != null" >
        #{cuid,jdbcType=VARCHAR},
      </if>
      <if test="stime != null" >
        #{stime,jdbcType=BIGINT},
      </if>
      <if test="etime != null" >
        #{etime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.tianxia.api.project.v2.ActivityEntity" >
    update t_activity
    <set >
      <if test="cagent != null" >
        cagent = #{cagent,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="ruid != null" >
        ruid = #{ruid,jdbcType=VARCHAR},
      </if>
      <if test="cuid != null" >
        cuid = #{cuid,jdbcType=VARCHAR},
      </if>
      <if test="stime != null" >
        stime = #{stime,jdbcType=BIGINT},
      </if>
      <if test="etime != null" >
        etime = #{etime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.tianxia.api.project.v2.ActivityEntity" >
    update t_activity
    set cagent = #{cagent,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      ruid = #{ruid,jdbcType=VARCHAR},
      cuid = #{cuid,jdbcType=VARCHAR},
      stime = #{stime,jdbcType=BIGINT},
      etime = #{etime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 查询活动 -->
  <select id="findOneByCagent" resultMap="BaseResultMap">
    select 
    	<include refid="Base_Column_List" />
    from t_activity
    where status=1 and type=#{type} and cagent=#{cagent} group by cagent
  </select>
  
  
</mapper>